

.post {

    position: relative;
   
    width: 43%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 2% 1% 1% 4%;
    float:left;
    border-radius: 15px;
   
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;   
    height: 45%;
        overflow: hidden;
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 0px 0;
        padding: 0 20px;   
        
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 30px;
    overflow: hidden;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 75px;
    margin-bottom: 0 !important;
    font-size: 100%;
   
    
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;
    text-align: center;
    position:relative;

}
.trashIcon{
    width: 83.5%;
display: table-cell;
border-radius: 0 0px 15px 0;
padding: 0 20px;
    background-color: #E8E8E8;
    float:right;
    
}
#button12{
    width: 40%;

    margin: 10px 20px 10px 20px;

}
#trash{
    float: right;
    font-size: 30px;
    color:black;
}
#selected{
    margin-left: 30%;
}